.sideBar {
  background-color: #f6f2f0;
  position: fixed;
  top: 20vh;
  right: 10vh;
  width: 40vh;
  padding-bottom: 2em;
}

.detailHeaderBg {
  height: auto;
  padding-bottom: 10px;
}

.detailHeader {
  margin-left: 15vh;
  padding-top: 5vh;
}

.detailBody .card {
  margin-left: 10vh;
  width: 60vw;
}

.commentArea {
  /* remove */

  margin-left: 10vh;
  width: 60vw;
}

.leaveComment textarea {
  width: 100%;
  height: 15vh;
}

.rating > input {
  display: none;
}
.rating > label {
  position: relative;
  width: 19px;
  font-size: 25px;
  color: orange;
  cursor: pointer;
}
.rating {
  display: flex;
  margin-top: -5px;
  flex-direction: row-reverse;
  margin-left: 5px;
  float: left;
}
.rating > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > input:checked ~ label:before {
  opacity: 1;
}

.rating:hover > input:checked ~ label:before {
  opacity: 0.4;
}

.starMark::before {
  content: "\2605";
  color: orange;
}

ul {
  list-style-type: none;
}

.txtIndent {
  text-indent: 36px;
}

@media screen and (max-width: 1350px) {
  .sideBar {
    width: 35vh;
    right: 5vh;
  }
}

@media screen and (max-width: 1100px) {
  .detailHeaderBg {
    display: flex;
    justify-content: center;
  }

  .detailHeader {
    margin-left: 0;
  }

  .sideBar {
    position: static;
    width: 55vw;
    margin: auto;
    margin-bottom: 25px;
  }

  .detailBody .card {
    margin: auto;
    width: 90vw;
  }
  .commentArea {
    margin: auto;
    width: 90vw;
  }
}

@media screen and (max-width: 600px) {
  .sideBar {
    width: 80vw;
  }
  .detailHeaderBg {
    height: auto;
  }
}

/* @media screen and (max-width: 400px) {
  .sideBar {
    width: 80vw;
    height: 70vh;
  }
  .detailHeaderBg {
    height: 40vh;
  }
} */
