.sideBar {
  background-color: #f6f2f0;
  position: fixed;
  top: 20vh;
  right: 15vh;
  width: 40vh;
  height: 70vh;
}
/* 
.detailHeader,
.detailBody {
  position: "relative";
  top: "5vh";
  left: "15vh";
} */

.detailHeader {
  margin-left: 15vh;
  padding-top: 5vh;
  /* position: relative;
  top: 5vh;
  left: 15vh; */
}

.detailBody .card {
  left: 15vh;
}

ul {
  list-style-type: none;
}
